body {
    background-color: #eaf6f6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    border-color: grey;
    width: 4%;
}

h1, h2, h3 {
    color: #f76b8a;
}

p, li, td {
    color: #66bfbf;
}

div {
    width: 200px;
    height: 200px;
    background-color: green;
    border: solid 1px;
}


@media (max-width: 900px) {

.first-div {
    background-color: purple;
}





}
